@inherits LayoutComponentBase

<FluentMainLayout>
    <Header>
        <FluentLabel Typo="Typography.H4" Weight="FontWeight.Bold">LeanKernel</FluentLabel>
        <FluentBadge Appearance="Appearance.Accent">Gateway</FluentBadge>
    </Header>
    <SubHeader>
    </SubHeader>
    <Body>
        <main id="main-content" class="lk-main-content" tabindex="-1">
            @Body
        </main>
    </Body>
    <NavMenuContent>
        <NavMenu />
    </NavMenuContent>
</FluentMainLayout>

<FluentDialogProvider />
<FluentMessageBarProvider />
<FluentTooltipProvider />
